.header {
    height: 120px;
    background-color: #fe6333;
}
.header__navbar-list {
    list-style: none;
}

.header__navbar-item{
    margin: 8px;
    position: relative;
    margin-top: 4px;
    /* border: 1px solid var(--while-color); */
}
.header__navbar-item, .header__navbar-link{
    display: inline-block;
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.4rem;
  
}   
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-item-separate::after {
        content: "";
        height: 16px;
        display: block;
        position: absolute;

    border-left: solid 1px var(--while-color);
    /* left: 0 ; */
    right: -10px;
    top: 0;

}
.header__navbar-item--separate2 {
    border: 1px solid var(--while-color);

}
.header__navbar-item-strong{
    font-weight: 500;
}

.header__navbar-item:hover, .header__navbar-link:hover {
    opacity: 0.7;
    cursor: pointer;
}